local.file_match "nginx_access_logs" {
  path_targets = [{"__path__" = "/var/log/nginx/app.sweatywallet.ca-access.log", "job" = "nginx_access"}]
}

loki.source.file "nginx_access_source" {
  targets    = local.file_match.nginx_access_logs.targets
  forward_to = [loki.write.loki_endpoint.receiver]
}

local.file_match "nginx_error_logs" {
  path_targets = [{"__path__" = "/var/log/nginx/app.sweatywallet.ca-error.log", "job" = "nginx_error"}]
}

loki.source.file "nginx_error_source" {
  targets    = local.file_match.nginx_error_logs.targets
  forward_to = [loki.write.loki_endpoint.receiver]
}

loki.relabel "journal" {
  forward_to = []
  
  rule {
    source_labels = ["__journal__systemd_unit"]
    regex         = "^(sweaty_wallet_web\\.service|sweaty_wallet_worker\\.service)$"
    action        = "keep"
  }

  rule {
    source_labels = ["__journal__systemd_unit"]
    target_label  = "unit"
  }
}

loki.source.journal "read"  {
  forward_to    = [loki.write.loki_endpoint.receiver]
  relabel_rules = loki.relabel.journal.rules
  labels        = {component = "loki.source.journal"}
  path          = "/var/log/journal"
}

loki.write "loki_endpoint" {
  endpoint {
    url = "http://loki:3100/loki/api/v1/push"

      // basic_auth {
      //  username = "admin"
      //  password = "admin"
      // }
  }
}

livedebugging {
  enabled = true
}
